.box {
  width: 100%;
  padding: 15px;
  background: #fff;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  box-sizing: border-box;
}

h3 {
  font-family: 'Roboto-Medium';
  font-size: 36px;
  color: #252733;
}

h4 {
  font-family: 'Roboto-Medium';
  font-size: 24px;
}
